{% load staticfiles %}

<link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'bower_components/components-font-awesome/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'bower_components/bootstrap-daterangepicker/daterangepicker.css' %}">

<script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'bower_components/blockUI/jquery.blockUI.js' %}" > </script>
<script src="{% static 'bower_components/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js' %} "></script>
<script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'bower_components/angular/angular.js' %}"></script>
<script src="{% static 'bower_components/angular-filter/dist/angular-filter.min.js' %}"></script>
<script src="{% static 'bower_components/angular-route/angular-route.min.js' %}"></script>
<script src="{% static 'bower_components/moment/moment.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
<script src="{% static 'bower_components/angular-daterangepicker/js/angular-daterangepicker.min.js' %}"></script>
<script src="{% static 'djng/js/django-angular.min.js' %}"></script>
<script src="{% static 'bower_components/angular-i18n/angular-locale_es-cl.js' %}"></script>
<script src="{% static 'frontend/router.js' %}"></script>
<script src="{% static 'frontend/uf/controller.js' %}"></script>